body > hr {
  width: 1400px;
  border: 2px solid #28544b;
}
.user-name > hr {
  width: 100px;
  border: solid 1px #28544b;
}

.change-profile-photo-btn {
  color: white;
  background-color: #28544b;
  height: 35px;
  border-radius: 10px;
  box-shadow: 1px 1px gray;
  cursor: pointer;
  margin: 15px 0 15px 0;
}

.change-profile-photo-btn:hover {
  box-shadow: none;
}

#f-name,
#f-nickname {
  font-size: 20px;
}

#top {
  text-align: center;
  font-weight: 700;
}

.up {
  text-align: center;
  margin-top: 50px;
  display: inline-block;
  width: 1200px;
  max-height: auto;
}

.user-photo-profile {
  width: auto;
}

.user-photo-profile > img {
  margin-bottom: 10px;
}

/* modal */
/* 모달창 스타일링 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 90px;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: 3% 34%;
  border: none;
  width: 700px;
  height: 500px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  margin-right: 20px;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.b-no {
  display: none;
}

.b-profilePhoto {
  margin-bottom: 5px;
}

#profile-photo {
  margin-top: 30px;
  cursor: pointer;
}

#btn-profile {
  cursor: pointer;
}

#p-photo {
  border-radius: 100%;
}

#selected-image {
  width: 200px;
  height: 200px;
}


#member-form {
  text-align: center;
}

#member-form > h2 {
  margin-top: 0 !important;
  padding-top: 25px;
  padding-left: 50px;
}

/* bottom */

#bottom {
  text-align: center;
  font-weight: 700;
}

.user-name {
  width: auto;
}

#user-button {
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 150px;
  display: inline-flex;
  width: 1200px;
  height: auto;
  /* border:  solid 1px red; */
}
.user1,
.user2,
.user3,
.user4 {
  text-align: center;
  padding-top: 30px;
  width: 280px;
  height: 50px;

  border-bottom: 3px solid #28544b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}