aside {
  /*border: 1px solid red;*/
  box-sizing: border-box;
<<<<<<< HEAD:sandle-app/src/main/webapp/member/member.css
  position: relative;
  width: 100%;
=======
  display: inline-block;
>>>>>>> d8716f18ca9b11899b8441571fd7cf89fcd3be67:sandle-app/src/main/webapp/member/index.css
}

article {
  /*border: 1px solid black;*/
<<<<<<< HEAD:sandle-app/src/main/webapp/member/member.css
  justify-content: center;
  align-items: center;
=======
>>>>>>> d8716f18ca9b11899b8441571fd7cf89fcd3be67:sandle-app/src/main/webapp/member/index.css
  box-sizing: border-box;
  margin-left: 270px;
  margin-top: 50px;
}

<<<<<<< HEAD:sandle-app/src/main/webapp/member/member.css
#head {
  font-size: 50px;
  font-weight: 900;
  position: relative;
}

#head-next {
  margin-left: 20px;
  font-weight: 700;
  position: relative;
}

#m-email {
  width: 265px;
  margin-right: 20px;
}

#id-button {
  font-size: 20px;
}

#btn-insert {
  margin-left: 1px;
  margin-top: 10px;
  padding-left: 55px;
  padding-right: 55px;
  margin-right: 10px;
}

#btn-cancel {
  margin-top: 10px;
  padding-left: 55px;
  padding-right: 55px;
}

#m-postNo {
  width: 230px;
  margin-right: 20px;
}

#find-button {
  font-size: 20px;
  height: 50px;
}
#id-msg1 {
  color: red;
}
#id-msg2 {
  color: blue;
}

.id-msg {
=======
#student-table > tbody > tr:hover {
  background-color: navy;
  color: white;
}

.invisible {
>>>>>>> d8716f18ca9b11899b8441571fd7cf89fcd3be67:sandle-app/src/main/webapp/member/index.css
  display: none;
}
